/* Import Media Query */
@import url('media.css');

/*footer*/
footer{
  background-color: #34495e;
  color: white;
}

/*Panel Review*/
.profile-picture{
  border-radius: 50px;
  height:60px; 
  width:60px; 
  background-size:cover;
  background-position: center center; 
  margin: auto;
}
#review .panel.panel-horizontal {
    display:table;
    margin-top: 2%;
    width:100%;
}
#review .panel.panel-horizontal > .panel-heading, #review .panel.panel-horizontal > .panel-body, #review .panel.panel-horizontal > .panel-footer {
    display:table-cell;
    margin-left: 0;
}
#review .panel.panel-horizontal > .panel-heading, #review .panel.panel-horizontal > .panel-footer {
    width: 10%;
    text-align: center;
    border:0;
    vertical-align: middle;
}
#review .panel.panel-horizontal > .panel-heading {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}
#review .panel.panel-horizontal > .panel-footer {
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

/**/
header .navbar-default{
  background-color: rgba(44, 62, 80,0.2);
}
header .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: transparent;
}

header .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}

/*table*/


body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

/*General*/
.padding-top-five{
  padding-top: 5%;
}
body{
  font-family: 'Muli', sans-serif;
}
.btn-primary{
  background-color: #34495e !important; 
  border-color: #34495e !important;
  border-radius: 0px !important;
}
.btn-primary:hover{
  background-color: #2c3e50 !important;
}

/*Content-tabs*/
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 25px;
}

.nav-tabs {
    margin-bottom: 0;
}

/*For navbar*/
#myNavbar{
  padding-right: 10px;
}
.navbar-header{
  padding-left: 10px;
}
.nav.navbar-nav.navbar-left a,.nav.navbar-nav.navbar-right a{
	color: #fff;
}
.nav.navbar-nav.navbar-left a:hover,.nav.navbar-nav.navbar-right a:hover{
	text-decoration: underline;
  color: #fff;
}
.nav .navbar-nav .dropdown .dropdown-menu ul li a:hover{
  background-color: transparent;
}
.navbar-default{
    border: none;
    background-color: transparent;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

/* Global */
.navbar-brand a
{
  font-size: 20px;
  color:#fff;
}

/* cart */
.cart{
  position:fixed; 
  right: 0px; 
  width: 50px; 
  height: 50px; 
  background-color: black; 
  top: 50%; 
  z-index: 3;
  padding: 12px 7px;
  opacity: 0.7;
}

.cart a{
  text-decoration: none;
  color: white;
}

.cart a:hover, a:focus {
    color: white;
    text-decoration: none;
}

.cart a:visited{
  color: white;
  text-decoration: none;
}
.cart a:focus{
  color: white;
  text-decoration: none;
}

.cart .fa{
  color: white;
  margin: auto;
  display: inline;


}

/* typeahead */
.typeahead {
max-height: 200px;
overflow-y: auto;
overflow-x: hidden;
width: 50%;
}

/* panel */
.panel a{
  text-decoration: none;
  color: black;
}
.panel a:hover,a:active{
  text-decoration: none;
  color: black;
}

/*Css for the full width image div*/
.image-full{
	height: 400px;
	padding-top: 20%;
}
#search_bar{
  width:50%;
}
/*What can You Do box*/
.food-panel{
  border-color: #34495e;
  border-radius: 0;
}
.do-button{
  margin-top: 10%;
  background-color: #34495e;
  border: 0px;
  border-radius: 0;
}
.do-button:hover{
  background-color: #2c3e50;
}
.do-button p{
  color: #fff !important;
  margin-bottom: 0px;
  padding: 5px;
}
.whatdo{
  margin: 30px auto 50px auto;
}
.whatdo h4{
  font-variant: small-caps;
  font-weight: bold;
}

/*For the food section*/
.food {
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #ecf0f1;
}
/*Image + Hover For Cuisines at Home*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #34495e;
  margin-top: 20px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.overlay a
{
  text-decoration: none;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
  transition: opacity 0.55s, transform 0.55s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  font-variant: small-caps;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*Edit Profile Page*/
#edit-prof-pic{
  width: 200px; 
  height:200px; 
  border-radius:100px;
}
#profile-name{
  font-weight: bold;
  margin-top: 8px;
  font-size: 20px;
}

.navbar-default .navbar-brand
{
  color:#fff !important; 
}

.headline
{
  font-size:48px;
}

/* Waiting for Drivers */
.waiting
{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:100;
  font-size:72px;
}

.roboto
{
  font-family: 'Roboto', sans-serif;\
  font-weight:100;
  padding:1em 0 0.5em 0;
}

/* Driver Found */
.driver-info
{
  font-family:roboto;
  font-size:18px;
  font-weight: lighter;
}

.driver-photo
{
  width: 300px; 
  border-radius:50%; 
  height:300px;
  margin:1em 0 3em 0;
}