/* LRM Group */

@media only screen and (max-device-width: 767px)
{
	#myNavbar
	{
		background:rgba(44, 62, 80,0.8);
	}

	#top
	{
		background-size:100% 100%;
		height:300px;
	}

	#tableHome
	{
		width:100%;
		overflow-x: scroll; 
	}

	/* Waiting for Drivers */
	#textWait
	{
	  font-size:48px;
	}

	#search_bar
	{
		padding-top: 7em;
	}

	#do-row{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	#food-row{
		padding-top: 0px;
		padding-bottom: 20px;
	}
	ul.nav-tabs > li {
		max-width: 90px !important;
		font-size: 12px!important;

	}
	.nav-pills>li{
     	max-width: 300px !important;
     	float: left !important;	
  	}
  	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	    border-bottom: 4px solid #34495e !important;
	    border-right: 0px !important;
	    margin-bottom: 20px !important;
	}
	.roboto{
		font-family: 'Roboto', sans-serif!important;
	}
	.driver-info{
		font-family: 'Roboto', sans-serif!important;
	}
	.profile-content{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#header{
		color: #000!important;
		background-color: #fff!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
		text-align: center!important;
	}
} 

@media only screen and (max-device-width: 440px)
{
	/* Waiting for Drivers */
	#textWait
	{
	  font-size:36px;
	}
	
	#search_bar
	{
		padding-top: 5em;
		width: 100% !important;
	}
	.typeahead{
		width: 100% !important;
	}
	
	#ms-multi{
		width: 250px;
	}
	
	#restaurant-list{
		font-size: 12px;
	}

	#pac-input {
        top: 42px !important;
        left: -1px !important;

      }

	/*wrap*/
	.wrap{
	  overflow-x: scroll;
	  width: inherit;
	}

	#map{
		height: 200px !important;
	}

	.modal{
		top: 5%;
	}

     
}