/* LRM Group */

@media only screen and (max-device-width: 767px)
{
	#myNavbar
	{
		background:rgba(91, 192, 222,0.8);
	}

	#top
	{
		background-size:100% 100%;
	}

	#tableHome
	{
		width:100%;
		overflow-x: scroll; 
	}
} 