/*Image header*/
.image-full-section{
	height: 300px;
	padding-top: 18%;
	background-color: #666;
}

/*Panel Settings*/
.panel-horizontal .panel-heading {
	margin-bottom: 0;
	border-bottom: 0;
	border-right: 1px solid transparent;
	border-radius: 0;
	width: 150px;
}

.panel-horizontal .panel-body {
	float: left;
	padding-bottom: 0;
	margin: 0 0 15px 150px;
}
.brand{
	font-weight: bold;
}

/*Restaurant Details*/
/*The tabs*/
ul.nav-tabs > li > a:hover {
	background-color: transparent;
	border:none;
	text-decoration: underline;
}
.restaurant-photo{
	height: 400px;
}
.restaurant-detail{
	padding-top: 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #2C3E50;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #2C3E50;
}

.nav-tabs li a{
	border-radius: 0px;
}

.tab-content {
    border-left: 1px solid #2C3E50;
    border-right: 1px solid #2C3E50;
    border-bottom: 1px solid #2C3E50;
    padding: 20px;

}
.nav-tabs {
    margin-bottom: 0;
}
.food-number{
	width: 45px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #2C3E50;
}

